<div style="text-align:center">
    <h1 style="color:green;font-size:40px">An Introduction To Python Pandas</h1
</div>

## pandas can work on data which is stored in 
    - Spreadsheets
    - Databases
## what can be done with pandas
    - data explore
    - data clean
    - data process
## In pandas a data table is called a DataFrame
   ![](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

## Load pandas in a project
   -convention to name pandas as **pd**

In [1]:
import pandas as pd

## Create a simple dataFrame

In [2]:
df=pd.DataFrame( { "Name":["Max","John","Rana"],"Age":[23,52,21],"Sex":["male","female","male"] } )

## Each column in a DataFrame is Series in Pandas
 ![](https://pandas.pydata.org/docs/_images/01_table_series.svg)
<p>for example someone is interested in working with <span style="color:blue">Age</span>. A single column of a pandas DataFrame is a pandas Series</p>

In [4]:
df["Age"]

0    23
1    52
2    21
Name: Age, dtype: int64

## We can also create a Series from scratch.

In [6]:
marks = pd.Series([23,12,14,21,13,93,28,92],name="Marks")
marks

0    23
1    12
2    14
3    21
4    13
5    93
6    28
7    92
Name: Marks, dtype: int64


## Basic statistics of the numerical data can be shown using `describe()` method.

In [7]:
marks.describe()

count     8.000000
mean     37.000000
std      34.690468
min      12.000000
25%      13.750000
50%      22.000000
75%      44.000000
max      93.000000
Name: Marks, dtype: float64

 + REMEMBER  
      + Import the package, aka import pandas as pd

      + A table of data is stored as a pandas DataFrame

      + Each column in a DataFrame is a Series

      + You can do things by applying a method to a DataFrame or Series

## How to Read and Write tabular Data
pandas provides `read_csv()`method to read a **CSV** file and store as a **DataFrame**. It can also work with other data format. for example..
![](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)